# BAG OF WORDS(BOW)

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame({'text':['people watch campusx','campusx watch campusx','people write comment','campusx write comment'],'output':[1,1,0,0]})
df

                    text  output
0   people watch campusx       1
1  campusx watch campusx       1
2   people write comment       0
3  campusx write comment       0

In [15]:
df.shape

(4, 2)

In [3]:
df['name']=[1,2,3,4]
df

                    text  output  name
0   people watch campusx       1     1
1  campusx watch campusx       1     2
2   people write comment       0     3
3  campusx write comment       0     4

In [4]:
df['name']=[2,2,3,4]
df

                    text  output  name
0   people watch campusx       1     2
1  campusx watch campusx       1     2
2   people write comment       0     3
3  campusx write comment       0     4

In [6]:
df.drop(columns='name',inplace=True)
df

                    text  output
0   people watch campusx       1
1  campusx watch campusx       1
2   people write comment       0
3  campusx write comment       0

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
bow=cv.fit_transform(df['text'])

In [9]:
cv.vocabulary_
#w.r.t alphabatic order of words(vocab) indexing is done..
#    campusx |comment | people | watch | write
#d1    1         0        1        1      0

{'people': 2, 'watch': 3, 'campusx': 0, 'write': 4, 'comment': 1}

In [10]:
bow[0]

<1x5 sparse matrix of type '<class 'numpy.int64'>'
	with 3 stored elements in Compressed Sparse Row format>

In [12]:
bow[0].toarray()

array([[1, 0, 1, 1, 0]], dtype=int64)

In [24]:
for i in range(df.shape[0]):
    print('D{}'.format(i),end='->')
    print(bow[i].toarray())

D0->[[1 0 1 1 0]]
D1->[[2 0 0 1 0]]
D2->[[0 1 1 0 1]]
D3->[[1 1 0 0 1]]

In [25]:
#as u see vector d1 and d2 are more similar

In [32]:
cv.transform(['caMpusX not campusx shree']).toarray()
#ignoring case bro....internally all alphabets are converted to 'lowercasse',,so while text preparation no need to do lowercasing

array([[2, 0, 0, 0, 0]], dtype=int64)

In [30]:
#as u see not and shree are OOV(out of vocab) then also there is no error ,, so we resolved this problem which is there in OHE
#oov is handle automaticcaly by BOW tech

In [33]:
#learn hyperparameters of CountVectorizer()...
#few important once are
#1)binary=False ->bydefault,,if u set it as True then all non zero values vector are set to 1
#ie;vector is made up of only 2 values 0 or 1 ,,,ex->for d2 -> [[1 0 0 1 0]],,ie;2 is non zero and it is replaced with 1,,,ie;we are neglating frequency of each word..if that word present then set simply 1 else 0

#"this gives good result interms of SENTIMENT ANALYSIS" research prooven

#2)max_features=None bydefault -->if u give 1 then it will consider only that word in vocab which has occured more no of size in "corpus"
#ex->max_features=1   ,, bcz campusx has more occurence in corpus,,so select that only bcz there is no other wrd which has similar occurense in corpus
#   campusx      where binary=False,,,,,if u give true then   campusx
#d1  1                                                           1
#d2  2                                                           1
#d3  0                                                           0
#d4  1                                                           1

#max_features=2 ,, 2 words are selected from corpus which has more occurence,,ie;

In [36]:
cv2=CountVectorizer(max_features=1)
bow2=cv2.fit_transform(df['text'])
for i in range(df.shape[0]):
    print('D{}'.format(i),end='->')
    print(bow2[i].toarray())

D0->[[1]]
D1->[[2]]
D2->[[0]]
D3->[[1]]

In [37]:
cv2=CountVectorizer(max_features=2)
bow2=cv2.fit_transform(df['text'])
for i in range(df.shape[0]):
    print('D{}'.format(i),end='->')
    print(bow2[i].toarray())
#campusx  |  comment,,,,    note->prople,watch,write also has same no of occurence in corpus compared to comment but comment is selected bcz index wise comment comes first so..

D0->[[1 0]]
D1->[[2 0]]
D2->[[0 1]]
D3->[[1 1]]

In [38]:
cv2=CountVectorizer(max_features=3)
bow2=cv2.fit_transform(df['text'])
for i in range(df.shape[0]):
    print('D{}'.format(i),end='->')
    print(bow2[i].toarray())
    
#campusx comment people

D0->[[1 0 1]]
D1->[[2 0 0]]
D2->[[0 1 1]]
D3->[[1 1 0]]

In [39]:
#this max_features tech used to neglate(dont take in accounts )rare words..
#assume we have 10k word vocab,,,and only 7k words are used more times and remaining 3k are used lesser times in text then we can ignore it(ie;dont mention them in vector )
#thus each vector formed is of 7k dimension...complexity reduced..

In [40]:
#for removing rare words from vector space,,thus vector dimension is reduced

In [41]:
#use other paameters of COuntVectorizer() class to know more

# N'GRAMS

In [ ]:
#bigrams

In [42]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(ngram_range=(2,2))

In [43]:
bigrams=cv.fit_transform(df['text'])

In [45]:
cv.vocabulary_
#as u see 6 tokens vocabulary is formed

{'people watch': 2,
 'watch campusx': 4,
 'campusx watch': 0,
 'people write': 3,
 'write comment': 5,
 'campusx write': 1}

In [46]:
for i in range(df.shape[0]):
    print('D{}'.format(i),end='->')
    print(bigrams[i].toarray())

D0->[[0 0 1 0 1 0]]
D1->[[1 0 0 0 1 0]]
D2->[[0 0 0 1 0 1]]
D3->[[0 1 0 0 0 1]]

In [47]:
#as u see d0 and d1 is represented such that this are not too similar,,thus gap b/n these 2 vectors are large

In [48]:
#trigrams

In [49]:
cv=CountVectorizer(ngram_range=(3,3))
trigrams=cv.fit_transform(df['text'])
cv.vocabulary_

{'people watch campusx': 2,
 'campusx watch campusx': 0,
 'people write comment': 3,
 'campusx write comment': 1}

In [50]:
#quadgrams

In [51]:
cv=CountVectorizer(ngram_range=(4,4))
trigrams=cv.fit_transform(df['text'])
cv.vocabulary_
#error,,bcz there is exist atleast one document/row with no of words less than 4,,,

ValueError: empty vocabulary; perhaps the documents only contain stop words

In [52]:
#if u wannt unigram,bigram and trigram as vocabulary then use range (1,3)
cv=CountVectorizer(ngram_range=(1,3))
trigrams=cv.fit_transform(df['text'])
cv.vocabulary_

{'people': 6,
 'watch': 11,
 'campusx': 0,
 'people watch': 7,
 'watch campusx': 12,
 'people watch campusx': 8,
 'campusx watch': 1,
 'campusx watch campusx': 2,
 'write': 13,
 'comment': 5,
 'people write': 9,
 'write comment': 14,
 'people write comment': 10,
 'campusx write': 3,
 'campusx write comment': 4}

In [1]:
#thus now we will represented/capture similarities and disssimilarities b/n each document/vector is more precisely
#but this is hyperparameter,,you have to choose correctly o/w complexity and overfitting occur

# TF*IDF

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
tfidf.fit_transform(df['text'])

In [ ]:
print(tfidf.idf_)
print(tfidf.get_feature_names_out())